# Using out-of-tree builds

# DIST := $(HOME)/tmp/dist-devel/lambdachine

# You can customise the version of GHC that is used to build the
# bytecode compiler.
#
# HC=ghc-6.12.1
# HC=ghc-7.0.1
# HC=ghc

# We currently only have one interpreter
#
# AsmInterpreter = No
# AsmInterpreter = Yes

######################################################################
# Uncomment the features you need.

# Disabling the JIT runs everything in the interpreter.
#
# DisableJit = Yes

# A performance build does not execute assertions and disables
# debug output.
#
# PerformanceBuild = Yes

# The default debug level is 2.  Higher levels usually mean more debug
# output.
#
# DebugLevel = 1

# Lambdachine is currently x86-64 only.  You can still develop on 32
# bit systems (e.g., a netbook, or ARM) if you turn off the code
# generator.  You can test the trace compiler by using the IR
# interpreter (it will of course be a lot slower).  Uncomment this
# line to do just that.
#
# DisableAsm = Yes
